//推广中心
$topbg:url(https://static.gute.fun/static/luckyOwn/lucky/pageA/topbg@2x.png);
$bg:url(https://static.gute.fun/static/luckyOwn/lucky/pageA/bg@2x.png);
$bj:url(https://static.gute.fun/static/luckyOwn/lucky/pageA/bj.png);
$renwu:url(https://static.gute.fun/static/luckyOwn/lucky/pageA/renwu@2x.png);
$button:url(https://static.gute.fun/static/luckyOwn/lucky/pageA/button@2x.png);

//我的钱包
$yuebeijing:url(https://static.gute.fun/static/luckyOwn/me/yuebeijing@2x.png);

//充值
$czjc:url(https://static.gute.fun/static/luckyOwn/me/czjc.png);

//联系客服
$bjB:url(https://static.gute.fun/static/luckyOwn/lucky/pageB/bj.png);
